<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th class="pull-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr [class]="checkCategory" *ngIf="test === true">
            <th scope="row">data item{{ transaction.amount }}</th>
            <td class="active">data item{{ transaction.category }}</td>
            <td class="active">data item{{ transaction.amount }}</td>
        </tr>
        <tr class="danger">
            <td>1</td>
            <td>1/2/2019</td>
            <td>Groceries</td>
            <td>$122.33</td>
            <td>
                <button class="btn btn-danger pull-right">Delete</button>
                <button class="btn btn-primary pull-right">Edit</button>
            </td>
        </tr>
        <tr class="warning">
            <td>2</td>
            <td>1/2/2019</td>
            <td>Eating Out</td>
            <td>45.65</td>
            <td>
                <button class="btn btn-danger pull-right">Delete</button>
                <button class="btn btn-primary pull-right">Edit</button>
            </td>
        </tr>
        <tr class="warning">
            <td>2</td>
            <td>1/2/2019</td>
            <td>Eating Out</td>
            <td>57.65</td>
            <td>
                <button class="btn btn-danger pull-right">Delete</button>
                <button class="btn btn-primary pull-right">Edit</button>
            </td>

        </tr>
        <tr class="success">
            <td>2</td>
            <td>1/2/2019</td>
            <td>Gas</td>
            <td>45.65</td>
            <td>
                <button class="btn btn-danger pull-right">Delete</button>
                <button class="btn btn-primary pull-right">Edit</button>
            </td>
        </tr>
    </tbody>
</table>