<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr [class]="checkCategory" *ngIf="test === true">
            <th scope="row">data item{{ transaction.amount }}</th>
            <td class="active">data item{{ transaction.category }}</td>
            <td class="active">data item{{ transaction.amount }}</td>
        </tr>
        <tr class="danger">
            <td class="active">1</td>
            <td class="active">Groceries</td>
            <td class="active">$122.33</td>
            <td class="active"><button class="btn-danger">Delete</button></td>
        </tr>
        <tr class="warning">
            <td class="active">2</td>
            <td class="active">Eating Out</td>
            <td class="active">45.65</td>
            <td class="active"><button class="btn-danger">Delete</button></td>
        </tr>
        <tr class="warning">
            <td class="active">2</td>
            <td class="active">Eating Out</td>
            <td class="active">57.65</td>
            <td class="active"><button class="btn-danger">Delete</button></td>

        </tr>
        <tr class="success">
            <td class="active">2</td>
            <td class="active">Gas</td>
            <td class="active">45.65</td>
            <td class="active"><button class="btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>